body {
  background-color: #C1DFF0;
  text-align: center;
  margin: 5% 15%;
}

#myHeader {
  padding: 0;
}

#myHeader p {
  padding: 10px;
}

#titleHeader {
  background-color: #36494E;
  color: #eee;
  width: inherit;
}

#surveyForm {
  background-color: #eee;
}

.form-group {
  margin-top: 5%;
}

.question5 {
  margin-bottom: 7%;
}

.rubyRails, .phpDrupal, .javaAndroid, .cssDesign, .cSharpNet {
  display: none;
  margin-top: 5px;
}

.buttonContainer {
  padding-bottom: 5px;
}
